h1{
    background-color:midnightblue;
    color: rgb(247,247,255);
}
h2{
    background-color: lightgray;
}
.agenda{
    color: #fd3e91;
}
#attendance{
    color: hsl(0, 82%, 35%);
}
.launch, #orgvenfridge{
    color:cornflowerblue;
    text-decoration: rgb(62, 27, 236) wavy underline;
}
#event{
    background-color: color(display-p3 1 0.5 0 / .5);;
}
strong{
    background-color: color-mix(in lch, plum 40%, pink);
}
.color-scheme{
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: royalblue;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; 
    padding-right: 1em;
    margin-top: 5mm;
    margin-bottom: 5mm; 
    margin-left: 0mm;
    margin-right: 7mm;
}
.rate-meeting{
    margin: 2rem 2rem 2rem 2rem;
    padding: 1vh 1vh 1vh 1vh;
}
.whiteboard{
    border: 5px solid hsl(199, 90%, 57%);
    margin-left: 15mm;
    position: relative;
    left: 400px;
}
h3 ~ ol, h3 + ul, audio{
    border: 1pt solid;
    margin: auto;
    padding: 1em 1em 1em 1em;
    
}
*{
    margin-left: 4Q
}
.container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex-basis: auto;
}
.attendance{
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: 1pc 1pc 1pc 0pc;
    grid-template-columns: 8pc 8pc 8pc 8pc;
    grid-column-gap: 1pc;
    margin-left: 4Q;
    grid-row-gap: 1pc;
    justify-content: space-evenly;
    align-content: stretch;
}
li > span{
    color:blue
}
p em{
    color:rgb(222, 64, 101)
}
h3.comments{
    text-decoration: underline;
}
h2:has(+section){
    color:rgb(75, 75, 78);
}
#block{
    display: block;
}
#inline{
    display: inline-block
}
#video{
    width: 40%;
    height: 30%;
    max-width: 60%;
}
#fridge{
    position: static;
}
a:hover{
    color:lightpink;
}
a:active,button:active{
    color:palevioletred;
}
button:hover, button:focus, 
a[href="Lab-2-audio.m4a"]:hover, a[href="Lab-2-audio.m4a"]:focus{
    color:lightpink;
    background-color:#fd3e91
}
@media (width:360px) {
    div{
        color: red;
    }
}
@media (min-width: 35rem) {
    div {
      background: yellow;
    }
}
@media (max-width: 50rem) {
    div {
      border: 2px solid blue;
    }
}