/*@property --my-color{  */                                         /*css variable for lightpink color*/
    /*syntax: "<color>";
    initial-value: lightpink;
    inherits: false;
}*/
h1{                                                             /*h1 color change*/
    background-color:midnightblue;                            /*color name*/
    color: rgb(247,247,255);                                  /*rgb color*/
}
h2{                                                             /*h2 color change*/
    background-color: lightgray;
}
.agenda{                                                        /*agenda title color/font change*/
    color: #fd3e91;                                           /*hex code8*/
    font-family: "Sacramento", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 180%
}
.launch, #orgvenfridge{                                         /*title color change and text deco*/
    color:cornflowerblue;
    text-decoration: rgb(235, 229, 111) wavy underline;
}
#event{
    color: color(srgb 0.4 0.3 0 /0.8);          /*wider-gamut color*/
}
strong{                                             
    color: color-mix(in srgb, rgb(248, 104, 248) 40%, rgb(229, 0, 38));    /*wider-gamut color*/
}
.color-scheme{                                                  /*box model*/
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: royalblue;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; 
    padding-right: 1em;
    margin-top: 5mm;
    margin-bottom: 5mm; 
    margin-left: 0mm;
    margin-right: 7mm;
}
.rate-meeting{                                                  /*box model short*/
    margin: 2rem 2rem 2rem 2rem;
    padding: 1vh 1vh 1vh 1vh;
}
.whiteboard{                                                    /*box model and position*/
    border: 5px solid hsl(199, 90%, 57%);
    margin-left: 15mm;
    position: relative;
    left: 400px;
}
h3 ~ ol, h3 + ul, audio{                                        /*box model and gen sib/adj sib combinators*/
    border: 1pt solid;
    margin: auto;
    padding: 1em 1em 2em 1em;
    
}
*{                                                              /*universal selector*/
    margin-left: 4Q;
}
.container{                                                     /*flex for color schemes*/
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex-basis: auto;
}
.attendance{                                                    /*grid for attendance checklist includes sizing*/
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: 1pc 1pc 1pc 0pc;
    grid-template-columns: 8pc 8pc;
    grid-column-gap: 1pc;
    margin-left: 4Q;
    grid-row-gap: 1pc;
    justify-content: space-evenly;
    align-content: stretch;
}
li > span{                                                      /*child combinator*/
    color:blue
}
p em{                                                           /*descendant combinator on emphasis*/
    color:rgb(222, 64, 101)
}
h3.comments{                                                    /*text deco and combine two selectors*/
    text-decoration: underline;
}
h2:has(+section){                                               /*new selector :has()*/
    color:rgb(75, 75, 78);
}
#block{                                                         /*display block*/
    display: block;
}
#inline{                                                        /*display inline block*/
    display: inline-block
}
#video{                                                         /*sizing adjustment for video*/
    width: 40%;
    height: 30%;
    max-width: 60%;
}
#fridge{                             
    position: static;
}
a:hover{                                                        /*fallback variable needed*/
    --my-color: aqumarine;
    color:var(--my-color,lightpink);
}
a:active,button:active{                                         /*:active pseudo class*/
    color:palevioletred;
}
button:hover, button:focus,                                     /*:hover pseudo class and attribute selector*/
a[href="Lab-2-audio.m4a"]:hover, a[href="Lab-2-audio.m4a"]:focus{
    --my-color: rgb(234, 234, 234);                         
    color:var(--my-color, lightpink);                         /*fallback variable not needed*/
    background-color:#fd3e91
}
@media (min-aspect-ratio: 9/19){                                /*responsiveness aspect ratio query*/
    div{
        background:hsl(96, 37%, 89%)                          /*hsl color*/
    }
}
@media (max-aspect-ratio: 16/10) {
    div {
      background: rgb(200, 231, 231);
    }
}
@media (aspect-ratio:10/10) {
    div {
      background: rgb(247, 245, 233);
    }
}
#LG{                                                            /*font adjustments*/
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal
}
#refrigerators{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal
}
.theme{                                                         /*font adjustment and nested selector*/
    font-family:"Times New Roman", Times, serif;
    font-size: 1rem;
    & > span{
        font-family: "Alegreya Sans SC", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 23px;
        color: rgb(100, 106, 110);
        &:hover, &:focus{
            background-color:hsl(235, 57%, 31%);
            color:aliceblue;
        }
    }
}